**/.nextflow
**/work
**/*.fasta
**/*.fa
**/*.aa
**/*.fna
**/*.faa
s3/
**/*.prfl
**/*.gff3
**/*cdsexons
**/*codingseq
**/*xml
**/tmp
**/hmmer_output
**/genevalidator
**/run_busco*
**/*genevalidator_results
**/predict_misc
**/predict_results
**/preprocess_protein_file
*.log
**/.nextflow.log*
**/*.pep
**/output
**/results
