**/.nextflow
**/work
**/store
**/results
**/downloaded
**/masked
**/*.fasta
**/*.fa
**/*.aa
**/*.fna
**/*.faa
s3/
**/*.prfl
**/*.gff3
**/*cdsexons
**/*codingseq
**/*xml
**/tmp
**/hmmer_output
**/genevalidator
**/run_busco*
**/*genevalidator_results
**/predict_misc
**/predict_results
**/preprocess_protein_file
*.log
**/.nextflow.log*
**/*.pep
**/output
**/results
*.cram
*.crai
*.sam
*.bam
*.bai
*.html
*.vcf
**/out
**/*.gz
**/reads
*pep
*fasta
**/spades
**.amb
**.ann
**.bwt
**.fai
**.pac
**.sa
**/*html*
**/*trace*
previous/*
**/*.fq.gz
**/*dmnd
**/alignments-separate
**/alignments
*.csi
*.gzi
*.bcf
*.vcf
*.bak
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.html.*
*.html
*.log
*.log.*
*.gvcf
