**/.nextflow
**/work
**/store
**/results
**/downloaded
**/masked
**/*.fasta
**/*.fa
**/*.aa
**/*.fna
**/*.faa
s3/
**/*.prfl
**/*.gff3
**/*cdsexons
**/*codingseq
**/*xml
**/tmp
**/hmmer_output
**/genevalidator
**/run_busco*
**/*genevalidator_results
**/predict_misc
**/predict_results
**/preprocess_protein_file
*.log
**/.nextflow.log*
**/*.pep
**/output
**/results
*.cram
*.crai
*.sam
*.bam
*.bai
*.html
*.vcf
**/out
**/*.gz
**/reads
*pep
*fasta
**/spades
**.amb
**.ann
**.bwt
**.fai
**.pac
**.sa
**/*html*
**/*trace*
previous/*
**/*.fq.gz
**/*dmnd
**/alignments-separate
**/alignments
*.csi
*.gzi
*.bcf
*.vcf
*.bak
*.svg
*.png
*.jpg
*.jpeg
*.gif
*.html.*
*.html
*.log
*.log.*
*.gvcf
*.tbi
*.gz
*.called
*.examples
*.index
*.meta
*.metrics
*data*of*
*.vstags
*.bed
*.dat
*.stats
*stats
*meanQ
*meanP
*bim
*fam
*nosex
*hh
*map
*nof
*ped
*sst
GLnexus.db/*
GLnexus.db
*.het
*.hwe
*.imiss
*.lmiss
*relatedness
*relatedness2
*count
*qual
*summary
*.count
*pvar
*pfam
*pgen
*psam
*.bim
nxf-tmp*
*.cluster?
*.genome
*.txt
roh
gtcheck*
*pbtxt
*pbtext
checkpoint
*.pdf
*json
*tex
*/GLnexus.db
*/GLnexus.DB
**/GLnexus.DB/*
chr
validation_chrs
plink*
