/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
*.tgz
circos-0.69-9/
bcftoolsroh
data/bcftoolsroh_founders
data/bcftoolsroh_offspring
.calva
*.roh
*.png
*.svg
*.scatter
*.csv
*.heatmap
target/
bcftoolsroh_*
founder_names
offspring_names
*.highlight
*.tiles
*/hist

