timeline.enabled = true
report.enabled = true
singularity.enabled = true
singularity.enabled = true
singularity.autoMounts = true
singularity.engineOptions = "-d"
singularity.runOptions = "-B /scale_wlg_nobackup/filesets/nobackup/uoo02695/Kakapo/03_Reference_SNPs"
trace.enabled = true

process {
	executor = "slurm"
        clusterOptions = "-A uoo02695"
}
